<html>
<form class="" action="/Books/addBook" method="post">
      <table>
        <tr>
          <td>title</td>
          <td><input type="text" name="title" value=""></td>
        </tr>
        <td>authors</td>
        <td><input type="text" name="authors" value=""></td>
      </tr>
      <tr>
        <td>average_rating</td>
        <td><input type="text" name="average_rating" value=""></td>
      </tr>
      <td>isbn</td>
    </tr>
    <tr>
      <td>isbn13</td>
      <td><input type="text" name="isbn13" value=""></td>
    </tr>
    <td>language_code</td>
    <td><input type="text" name="language_code" value=""></td>
  </tr>
  <tr>
    <td>num_pages</td>
    <td><input type="text" name="num_pages" value=""></td>
  </tr>
  <td>ratings_count</td>
  <td><input type="text" name="ratings_count" value=""></td>
</tr>
<tr>
  <td>text_reviews_count/td>
  <td><input type="text" name="text_reviews_count" value=""></td>
</tr>
<tr>
  <td>publication_date/td>
  <td><input type="text" name="publication_date" value=""></td>
</tr>
<tr>
  <td>publisher/td>
  <td><input type="text" name="publisher" value=""></td>
</tr>
          <td colspan="2">
            <input type="submit" value="Save">
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
